section {
     height: 500px;
     background-color: wheat;
     border: solid black 1.5px;
}


.hero {
     background-color: DarkSeaGreen; 
     height: 100vh;
     color: white;
     font-size: 40px;
}

footer {
     height: 500px;
     background-color: black;
}