section {
     height: 500px;
     background-color: seashell;
     border: solid black 1.5px;
}


.hero {
     background-color: DarkSeaGreen; 
     height: 100vh;
     color: white;
     font-size: 40px;
}

footer {
     height: 500px;
     background-color: black;
}

nav {
     display: flex;
     justify-content: space-between;
}

ul {
     display: flex;
     list-style-type: none; 
     width: 500px;
     justify-content: space-around;
     font-size: 30px;
}

li {
     text-decoration: none; 
}

h1 {
     font-size: 90px;
}

.hero-text {
     margin-left: 80px;
}

.button {
     width: 200px;
     height: 100px;
     background-color: pink;
}




















