body {
     font-family: 'Poppins', sans-serif;
}


section {
     height: 500px;
     background-color: #9C9F84;
     border: solid black 1.5px;
}


.hero {
     background-color: #5C755E; 
     height: 100vh;
     color: white;
     font-size: 40px;
}

footer {
     height: 500px;
     background-color: #893F04;
}

nav {
     display: flex;
     justify-content: space-between;
}

ul {
     display: flex;
     list-style-type: none; 
     width: 500px;
     justify-content: space-around;
     font-size: 30px;
}

li {
     text-decoration: none; 
}

h1 {
     font-size: 90px;
     margin: 0;
}

h2 {
     font-size: 30px;
}

p {
     margin: 0;
     font-size: 20px;
     font-weight: 300;
}

.hero-area {
     display: flex;
     height: 100%; 
     justify-content: space-between;
     align-items: center;
}

.hero-text {
     margin-left: 80px;
     margin-bottom: 100px;
}

.button {
     width: 200px;
     height: 55px;
     border-radius: 30px;
     background-color: #A97D5D;
     text-align: center;
     font-size: 30px;
     font-weight: 300;
     padding-top: 5px;
     margin-top: 20px;
}

.button:hover {
     background-color: #F79256;
}

.button:active {
     background-color: darkgrey;
}

.logo {
     height: 200px;
     margin: 30 px;
} 

.sub-section {
     display: flex;
     justify-content: space-around;
     padding: 80px;
}

.about {
     font-size: 20px;
}


















